<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="capella-tp">
	<locations>
		<location type="Target" uri="file:\C:\Software_Development\Capella_DevOps\Eclipse_RCP_2024-03_Workspace\capella-tycho-build\releng\target-platform\capella-core.target"/>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository id="VP-Filtering-1.6.2" location="file:/C:/Software_Development/Capella_DevOps/External_addons/Filtering-updateSite-1.6.2"/>
			<unit id="org.polarsys.capella.filtering.feature.source.feature.group"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository id="VP-Requirements-0.13.1" location="file:/C:/Software_Development/Capella_DevOps/External_addons/Requirements-updateSite-0.13.1"/>
			<unit id="org.polarsys.capella.vp.requirements.feature.source.feature.group"/>
			<unit id="org.polarsys.kitalpha.vp.requirements.docgen.feature.feature.group"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository id="VP-MS-0.19.0" location="file:/C:/Software_Development/Capella_DevOps/External_addons/VPMS-updateSite-0.19.0"/>
			<unit id="org.polarsys.capella.vp.ms.feature.feature.group"/>
			<unit id="org.polarsys.capella.vp.ms.ag.feature.feature.group"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository id="VP-DiagramStyler-60.3.1" location="file:/C:/Software_Development/Capella_DevOps/External_addons/com.thalesgroup.mde.capella.diagramstyler.repository-60.3.1"/>
			<unit id="com.thalesgroup.mde.capella.diagramstyler.feature.feature.group"/>
			<unit id="com.thalesgroup.mde.capella.diagramstyler.feature.source.feature.group"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository id="VP-PVMT-60.7.0" location="file:/C:/Software_Development/Capella_DevOps/External_addons/com.thalesgroup.vpd.property.repository-60.7.0"/>
			<unit id="com.thalesgroup.vpd.property.cdo.feature.feature.group"/>
			<unit id="com.thalesgroup.vpd.property.cdo.feature.source.feature.group"/>
			<unit id="com.thalesgroup.vpd.property.contextualexplorer.feature.feature.group"/>
			<unit id="com.thalesgroup.vpd.property.contextualexplorer.feature.source.feature.group"/>
			<unit id="com.thalesgroup.vpd.property.feature.feature.group"/>
			<unit id="com.thalesgroup.vpd.property.feature.source.feature.group"/>
			<unit id="lpg.runtime.java"/>
			<unit id="org.eclipse.m2m.qvt.oml.feature.group"/>
			<unit id="org.eclipse.ocl"/>
			<unit id="org.eclipse.ocl.common"/>
			<unit id="org.eclipse.ocl.ecore"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository id="SSS-1.6.4" location="file:/C:/Software_Development/Capella_DevOps/External_addons/SubsystemTransition-updateSite-1.6.4/"/>
			<unit id="org.polarsys.capella.transition.system2subsystem.feature.source.feature.group" version="1.6.4.202401151039"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository id="M2Doc-3.3.1" location="file:/C:/Software_Development/Capella_DevOps/External_addons/org.obeonetwork.m2doc.update-3.3.1/"/>
			<unit id="org.apache.batik.anim" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.awt.util" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.bridge" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.codec" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.constants" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.css" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.dom" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.dom.svg" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.ext" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.gvt" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.i18n" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.parser" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.script" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.svggen" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.transcoder" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.util" version="1.16.0.v20221027-0840"/>
			<unit id="org.apache.batik.xml" version="1.16.0.v20221027-0840"/>
			<unit id="org.eclipse.acceleo.query.feature.group" version="7.0.0.202211151354"/>
			<unit id="org.eclipse.acceleo.query.source.feature.group" version="7.0.0.202211151354"/>
			<unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
			<unit id="org.eclipse.mylyn.wikitext" version="3.0.42.20220107230029"/>
			<unit id="org.eclipse.mylyn.wikitext.asciidoc" version="3.0.42.20220107230029"/>
			<unit id="org.eclipse.mylyn.wikitext.confluence" version="3.0.42.20220107230029"/>
			<unit id="org.eclipse.mylyn.wikitext.html" version="3.0.42.20220107230029"/>
			<unit id="org.eclipse.mylyn.wikitext.markdown" version="3.0.42.20220107230029"/>
			<unit id="org.eclipse.mylyn.wikitext.mediawiki" version="3.0.42.20220107230029"/>
			<unit id="org.eclipse.mylyn.wikitext.textile" version="3.0.42.20220107230029"/>
			<unit id="org.eclipse.mylyn.wikitext.tracwiki" version="3.0.42.20220107230029"/>
			<unit id="org.eclipse.mylyn.wikitext.twiki" version="3.0.42.20220107230029"/>
			<unit id="org.jsoup" version="1.14.3.v20211012-1727"/>
			<unit id="org.obeonetwork.m2doc.cdo.feature.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.cdo.feature.source.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.cdo.tests" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.feature.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.feature.source.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.genconf.edit.tests" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.genconf.tests" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.html.feature.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.html.feature.source.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.html.tests" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.ide.tests" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.launcher.feature.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.launcher.feature.source.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.sirius.feature.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.sirius.feature.source.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.sirius.tests" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.tests" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.ui.feature.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.ui.feature.source.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.ui.jdt.feature.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.ui.jdt.feature.source.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.wikitext.feature.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.wikitext.feature.source.feature.group" version="3.3.1.202309191121"/>
			<unit id="org.obeonetwork.m2doc.wikitext.tests" version="3.3.1.202309191121"/>
			<unit id="org.w3c.css.sac" version="1.3.1.v200903091627"/>
			<unit id="org.w3c.dom.smil" version="1.0.1.v200903091627"/>
			<unit id="org.w3c.dom.svg" version="1.1.0.v201011041433"/>
			<unit id="org.xtext.example.mydsl" version="3.3.1.202309191121"/>
			<unit id="org.xtext.example.mydsl.ide" version="3.3.1.202309191121"/>
			<unit id="org.xtext.example.mydsl.ui" version="3.3.1.202309191121"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="file:/C:/Software_Development/Capella_DevOps/External_addons/TextualEditor-updateSite-0.11.1/"/>
			<unit id="org.polarsys.capella.scenario.editor.feature.feature.group" version="0.11.1.202402291031"/>
		</location>

		<!-- Remote Update Site -->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/technology/subversive/4.8/release/4.8.0"/>
			<unit id="org.eclipse.team.svn.core.feature.group" version="4.8.0.v20220904-1901"/>
			<unit id="org.eclipse.team.svn.feature.group" version="4.8.0.v20220904-1901"/>
			<unit id="org.eclipse.team.svn.nl1.feature.group" version="4.8.0.v20220904-1901"/>
			<unit id="org.eclipse.team.svn.pde.build.feature.group" version="1.0.0.v20220904-1901"/>
			<unit id="org.eclipse.team.svn.ui.capabilities.feature.group" version="4.0.0.v20220904-1901"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/capella/addons/xhtmldocgen/updates/releases/6.1.0/"/>
			<unit id="org.polarsys.capella.docgen.package.feature.feature.group" version="6.1.0.202303281352"/>
			<unit id="org.polarsys.capella.docgen.package.feature.source.feature.group" version="6.1.0.202303281352"/>
		</location>
	</locations>
</target>